<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Chat</title>

</head>
<body>
    
        <h1>You are logged in as {{ logged_in_as }}</h1>
        
        <h2>If you want to post a message, here is the form : </h2>
        
        <form method="POST" action="/{{logged_in_as}}/new">
            <input type="text" name="message" placeholder="What's happening ?"/>
            <input type="submit" value="Post"/>
        </form>
    
        <h2>Here are the messages : </h2>
        
        {% for message in post %}
        
            {% if message.to == logged_in_as %}
                <p>{{ message.sender }} : {{ message.body }}</p>
            {% endif %}
             
            {% if message.to == "all"  %}
            <p>{{ message.sender }} : {{ message.body }}</p>
            {% endif %}
             
        {% endfor %}    
          
        <p>End of the chat</p>
    
        <script type="text/javascript" src="">
            setTimeout(function() {
                location.reload();
                }, 5000);
        </script>
    
</body>
</html>

